.main-container {
  width: 100%;
}
.grid-container {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 20px;
  box-sizing: border-box;
}
.grid-container .grid-item {
  box-sizing: border-box;
  background-color: #ebecf0;
  display: grid;
  justify-content: center;
  border-radius: 4px;
  display: grid;
  align-content: stretch;
  justify-content: stretch;
  padding: 0 10px 10px;
  box-sizing: border-box;
  height: fit-content;
}

.grid-container .grid-item .main-title {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

.grid-item:last-child {
  height: min-content;
  padding: 0;
}
