.main-card {
  background-color: #fff;
  margin-bottom: 7px;
  padding: 6px 5px;
  border-radius: 4px;
  transition: all 0.2s linear;
  position: relative;
}
.main-card:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.main-card .main-card-message {
  margin: 0;
  font-size: 13px;
  letter-spacing: 0.3px;
}

.main-card .main-card-edit-icon {
  padding: 7px;
  visibility: hidden;
  transition: visiblity 0.05s linear;
  position: absolute;
  right: 2px;
  top: 2px;
}
.main-card:hover .main-card-edit-icon {
  visibility: visible;
}
.main-card.drag-over {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  transform: scale(1.03);
  transform: translateX(10px);
}
