.main-button {
  padding: 8px 15px;
  border-radius: 4px;
  appearance: none;
  background-color: #0079bf;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.main-button:hover {
  background-color: #026aa7;
}
