.main-text-area {
  display: block;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #fff;
  border: 1px solid #fff;
  transition: all 0.2s linear;
  border-radius: 4px;
}

.main-text-area:focus,
.main-text-area:hover {
  border-color: #0079bf;
}
