.add-list-form {
  background-color: transparent;
  padding: 5px;
}

.add-list-default-card {
  height: fit-content;
  color: #fff;
  padding: 6px 8px;
  transition: color 85ms ease-in;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
  border-radius: 4px;
}
.add-list-default-card:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.add-list-form .add-list-actions {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.add-list-form .add-list-actions .cancel-button {
  margin-left: 5px;
}
