.add-card-form {
  background-color: transparent;
}

.add-card-form .add-card-actions {
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.add-card-section {
  height: fit-content;
  color: #333;
  padding: 6px 8px;
  transition: color 85ms ease-in;
  background-color: transparent;
  transition: all 0.2s linear;
  border-radius: 4px;
  font-size: 14px;
}
.add-card-section span {
  margin-left: 5px;
}
.add-card-section:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.add-card-form .add-card-actions .cancel-button {
  margin-left: 5px;
}
