.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 50%;
  outline: 0px;
  border: 0px;
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
  height: fit-content;
}

.icon-button:hover {
  background-color: #ddd;
  cursor: pointer;
}
